
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h3>Purchase Form</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <input type="hidden" value="@ViewBag.UserId" name="UserId" />
            <table class="table">
                <tr>
                    <text>Enter delivery address: </text>
                    <td><input class="form-control" placeholder="Address" type="text" name="Address" /></td>
                </tr>
            </table>
            <input class="btn btn-success" type="submit" value="Buy" />
            <a href="@Url.Action("Index", "Home")" class="btn btn-info">Cancel</a>
        </form>
    </div>
</body>
</html>
