
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy Failed</title>
</head>
<body>
    <div>
        <h3>The attemp of the purschase has failed! Maybe this book has already been sold. Try again.</h3>
        @Html.ActionLink("Back to Store", "Index")
    </div>
</body>
</html>

