
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy Succesful</title>
</head>
<body>
    <div>
        <h3>Thank you for the purchase!</h3>
        @Html.ActionLink("Back to Store", "Index")
    </div>
</body>
</html>
